.item-units{

  &_container{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: inherit;
    align-items: center;
    height: 100px;
  }

  &_type{
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
