// fonts

@font-face {
  font-family: '';
  src: url();
}

@font-face {
  font-family: Patric-Hand;
  src: url('../../fonts/patrick-hand/PatrickHand-Regular.ttf');
}

@font-face {
  font-family: Chewy-Regular;
  src: url('../../fonts/chewy/Chewy-Regular.ttf');
}

@font-face {
  font-family: BalsamiqSans-Bold;
  src: url('../../fonts/balsamiq-sans/BalsamiqSans-Bold.ttf');
}

@font-face {
  font-family: BalsamiqSans-Regular;
  src: url('../../fonts/balsamiq-sans/BalsamiqSans-Regular.ttf');
}

@font-face {
  font-family: EastSeaDokdo-Regular;
  src: url('../../fonts/EastSeaDokdo-Regular/EastSeaDokdo-Regular.ttf');
}

@font-face {
  font-family: LiuJianMaoCao-Regular;
  src: url('../../fonts/LiujianMaoCao-Regular/LiuJianMaoCao-Regular.ttf');
}

@font-face {
  font-family: TitanOne;
  src: url('../../fonts/TitanOne/TitanOne-Regular.ttf');
}

@font-face {
  font-family: PTSans;
  src: url('../../fonts/PTSansNarrow/PTSansNarrow-Regular.ttf');
}
