
  <div class="main-header">
    <div routerLink="/" class="main-header_logo">
      <img src="../../../assets/icons/logo-5-png.png" alt="">
    </div>

    <div class="main-header_container main-layout">
      <div class="main-header_cart-menu">
        <button (click)="onToggleHamburger(true)" class="hamburger-icon-container">
          <i class="hamburger-icon"></i>
        </button>
        <div #searchBoxContainerEl class="search-box-container">
          <button (click)="onToggleSearch()" class="search-icon"></button>
          <app-search-box *ngIf="isSearchBoxOpen" [@slidesDownAnumation]="stateName"></app-search-box>
        </div>
        <app-categories-menu></app-categories-menu>
      </div>

      <div class="main-header_actions">
        <app-information-menu></app-information-menu>
        <app-user-menu-btn></app-user-menu-btn>
        <app-cart-btn (click)="onToggleCart(true)"></app-cart-btn>
      </div>
    </div>
  </div>








