<div class="main-header">
  <div routerLink="/" class="main-header_logo">
    <img src="../../../assets/icons/logo-5-png.png" alt="">
  </div>
  <div class="main-header_container main-layout">
      <div class="main-header_actions">
        <div class="main-header_user-info">
          <div class="user-img"></div>
        </div>
        <div class="main-header_cart">
          <div class="cart-img"></div>
          <div class="cart-counter">
            <small class="counter-txt">0</small>
          </div>
        </div>
        <div class="main-header_nav">
          <a href="#">{{'about us' | uppercase}}</a>
          <a href="#">{{'branches' | uppercase}}</a>
      </div>
    </div>
    <div class="main-header_cart-menu">
      <app-cart-menu></app-cart-menu>
      <button (click)="onToggleSearch()" class="search-icon">
      </button>
      <app-search-box
        (closeSearchBox)="onCloseSearch($event)"
        [ngClass]="{open: isSearchBoxOpen}"
        ></app-search-box>
    </div>
  </div>
</div>




