.main-header {
  position: relative;
  height: 170px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100vw;
    height: 2px;
    background-color: #388904;
    top: 109px;
  }

  &_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    gap: 10px;
  }

  &_logo {
    width: 250px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    cursor: pointer;
  }

  &_actions {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  &_cart {
    position: relative;
    cursor: pointer;

    .cart-img {
      background-image: url("../../../assets/icons/carts.png");
      height: 40px;
      width: 40px;
      background-position: initial;
      background-repeat: no-repeat;
      background-size: contain;
      h3 {
        margin: 0;
        position: absolute;
        left: -28px;
        top: 2px;
        font-size: 14px;
      }
    }

    .cart-counter {
      height: 20px;
      width: 20px;
      background-color: #6cbb44;
      border-radius: 50%;
      position: absolute;
      top: -7px;
      left: 28px;

      .counter-txt {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
      }
    }
    &.cart-bg {
      position: absolute;
    }
  }

  &_user-info {
    cursor: pointer;
    .user-img {
      background-image: url("../../../assets/icons/user-edited.png");
      height: 40px;
      width: 40px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      position: relative;

      h3 {
        position: absolute;
        top: 1px;
        font-size: 12px;
        left: -73px;
        margin: 0;
      }
    }
  }

  &_nav{
    display: flex;
    gap: 45px;
    font-size: 14px;
    align-items: center;

    &,a:hover{
      color: #b27836;
    }


  }
  &_cart-menu{
    display: flex;
    gap: 55px;
    align-items: center;
    justify-content: center;
    position: relative;


    .search-icon{
      background-image: url('../../../assets/icons/search.png');
      height: 30px;
      width: 30px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;


    }

    app-search-box{
      position: absolute;
      opacity: 0;
      top: 42px;
      right: -4px;
      transition: opacity 150ms ease-in-out;

      &.open{
        opacity: 100%;

      }
    }

  }
}

