.mobile-menu{
  &_top{

    height: 67px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .clear-icon{
      background-image: url('../../../../assets/icons/close.png');
      height: 30px;
      width: 30px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
    }
  }

  &_bottom{
    padding-top: 20px;

    background: #A4D668;
    font-size: 18px;
    height: 100vh;
  }
}



