.mobile-menu{
  &_top{

    height: 67px;
    padding: 15px;
    display: flex;

    .clear-icon{
      background-image: url('../../../../assets/icons/close.png');
      height: 30px;
      width: 30px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
}

  }
}



