.mobile-menu{
  &_top{

    height: 67px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &_bottom{
    padding-top: 20px;

    background: #A4D668;
    font-size: 18px;
    height: 100vh;
  }
}



