.main-header_user-info{
    cursor: pointer;
    .user-img {
      background-image: url("../../../assets/icons/user-edited.png");
      height: 40px;
      width: 40px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      position: relative;

      h3 {
        position: absolute;
        top: 1px;
        font-size: 12px;
        left: -73px;
        margin: 0;
      }
    }
}
