.main-header_user-info{
  position: relative;
    cursor: pointer;
    .user-img {
      background-image: url("../../../assets/icons/user-edited.png");
      height: 40px;
      width: 40px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      position: relative;


    }

}
