@import '../../../assets/styles/setup/mixins';
@import '../../../assets/styles/setup/variables';

.main-header_user-info{
  position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    &.main{

      @include for-bpoint-tablet-landscape{
        @include for-bpoint-tablet-landscape{
        flex-direction: column;
      }
      }
    }

    &.sideNav{
      padding-right: 13px;
    }

    .user-img {
      background-image: url("../../../assets/icons/user-edited.png");
      height: 40px;
      width: 40px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      position: relative;
    }

    .logged-in-user-name-title{
      &.main{
        font-size: 16px;
      }

      &.sideNav{
        font-size: 20px;
      }
    }

}
