<div class="personal-orders-wrapper">
  <ng-scrollbar style="height: 500px;">
    <div class="personal-order-list-container">
      <div *ngFor="let order of personalOrders" class="personal-order-row" [routerLink]="'/orders/'+ order._id">
        <div class="personal-order-flex-group">
          <div class="personal-order-date">{{order.createdAt | date: 'dd/MM/yy'}} </div>
          <div class="personal-order-name">
            Order Number: {{order._id}}
            <span class="no-mobile">|</span>
            <span class="no-mobile">{{order.items.length}} Products</span>
          </div>
        </div>
        <div class="personal-order-total-price no-mobile">${{order.totalPrice | number: '.1-3'}}</div>
      </div>
    </div>
  </ng-scrollbar>
</div>

