@import "../../../../../assets/styles/setup/mixins";
@import "../../../../../assets/styles/setup/variables";

.personal-order{

  &s-wrapper{
    cursor: pointer;
  }




  &-row{
    background: transparent;
    color: #1E3E20;
    padding: 20px 30px;
    border-bottom: 1px solid #AFAFAF;
    display: flex;
    justify-content: space-between;
  }

  &-flex-group{
    display: flex;
    gap: 25px;

  }

  &-date{
    color: #AFAFAF;
    font-size: 1.15em;
  }

  &-name{
    color: #1E3E20;
    display: flex;
    gap: 15px;

    .no-mobile{
      display: block;
    }

    @include for-bpoint-min-tablet{
      .no-mobile{
        display: none;
      }
    }
  }

  &-total-price{
    color: #1E3E20;
    display: flex;
    justify-content: flex-end;
    width: 45px;


  }
}
