<div class="menu-links-wrapper" [ngClass]="{'mobile-open': isMobileMenuOpen$ | async}">

  <div class="dropdown"
    *ngFor="let itemCategory of itemsCategories$ | async "
    (click)="onClickMobileMenuLink(itemCategory._id)">

    <button
      routerLinkActive="active"
      [routerLink]="'/items-category/'+ itemCategory._id"
      class="cart-menu-link"
      [ngClass]="{'link-mobile-open':  isMobileMenuOpen$ | async}">
        <div
          class="link-img"
          [ngStyle]="{'background-image' : 'url('+ itemCategory.linkImage +')'}"></div>

          {{itemCategory.mainCategoryName | uppercase}}
    </button>

    <mat-icon
      class="dropdown_icon" *ngIf=" isMobileMenuOpen$ | async">
        arrow_drop_down</mat-icon>

    <div
      class="dropdown_menu"
      [ngClass]="{'dropdown-menu-mobile': isMobileMenuOpen$ | async, 'open': openCategiresMaping[itemCategory._id]}"

      #dropdownMenu>
        <a
          [routerLink]="'/items-category/'+ itemCategory._id">
            {{'all '+ itemCategory.mainCategoryName | uppercase}}</a>

        <a
          *ngFor="let subCategory of itemCategory.subCategiries"
          [routerLink]="'/items-category/'+ itemCategory._id + '/'+subCategory._id " >
          {{subCategory.name | uppercase}}</a>
    </div>

  </div>

</div>
