.menu-links-wrapper{
  display: flex;
  align-items: center;
  gap: 20px;

  .dropdown{
    position: relative;
    transition: all 2s ease-in-out;

    &:hover {
      .dropdown_menu {
        opacity: 1;
        display: flex;
      }
    }

    .dropdown_menu{
      display: none;
      position: absolute;
      background-color: #fffefb;
      min-width: 160px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
      font-size: 12px;
      z-index: 1;
      flex-direction: column;
      gap: 12px;
      align-items: flex-start;
      padding: .75rem;
      border-radius: .25rem;

    }


  }

  .cart-menu-link{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover{
      color: #b27836;
    }


  }

  .link-img{
    height: 25px;
    width: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
  }
}
.active{
  color: #b27836;
}
