@import "../setup/variables";
@import "../setup/mixins";

*,
*::before,
*::after{
  box-sizing: border-box;
}

html{
  font-family: BalsamiqSans-Regular, sans-serif;
  font-size: 1rem;
  scroll-behavior: smooth;
}

body{
  margin: 0;

  &.overflow-hidden{
    overflow: hidden;
  }
}

li{
  list-style: none;
}

ul{
  padding: 0;
  margin: 0%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
  margin: 0;
}

img{
  width: inherit;
}

a{
  text-decoration: none;
  color: black;
  cursor: pointer;

  &:active{
    color: unset;
  }
}

button{
  font-family: BalsamiqSans-Regular, sans-serif;
  background: transparent;
  border: none;
}

.main-layout{
  max-width: 85%;
  margin: 0 auto;
}

div{
  margin: 0;
}


.clear-icon{
  background-image: url('https://res.cloudinary.com/sprint4/image/upload/v1648558753/HolyVegiFruits/icons/close_ijvohb.png');
  height: 30px;
  width: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.main-btn{
  text-align: center;
  color: #1E3E20;
  border-radius: 50rem;
  cursor: pointer;
  text-align: center;
}

.green-bg{
  background: #A4D668;
}

.white-bg{
  background: #ffff;

}

.green-bg:hover, .white-bg:hover{
  background: #1E3E20;
  color: #FFFFFF;
}


.border-btn{
  border: 1px solid #1E3E20;
}
