@import "../../../../assets/styles/setup/mixins";
@import "../../../../assets/styles/setup/variables";

.search-box{
  &_container{
    position: relative;
    background-color: #fffad9;
    height: 46px;
    width: 390px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 7px 0 rgb(0 0 0 / 12%);
  }

  &_input{
    border: none;
    background: white;
    width: 95%;
    padding-inline-start: 35px;
    height: 28px;
    border-radius: 19px;


    &:focus{
      outline: none;
    }
  }
}

.search-box-img{
  background-image: url('../../../../assets/icons/serach-icon-yellow-png.png');
  height: 20px;
  width: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 13px;
  left: 20px;

}
