<div class="search-box_container">
  <form [formGroup]="searchForm">
    <input
      class="search-box_input"
      type="text" placeholder="search..."
      formControlName="searchKey">
    <div class="search-box-img"></div>
  </form>


    <div *ngIf="searchItemsResults != null  && searchItemsResults?.length != 0" class="search-items-list-container">
      <ng-scrollbar style="height: 405px; width: 465px;">
        <div class="search-items-list">
          <app-item-card
            *ngFor="let item of searchItemsResults"
            [item]="item"
            [itemUnitsValue]="(itemUnitsMap$ | async)![item._id]"
            [displayMode]="ItemCardMode.xs"
            (onSaveItemOrderInfo)="saveItemUnitsValue($event)">
          </app-item-card>
        </div>
      </ng-scrollbar>
    </div>
</div>

