<div class="cart">
  <div class="cart-head">
    <button (click)="onCloseCart(false)" class="clear-icon"></button>
    <div class="cart-head_title">
      <small *ngIf="loggedInUserName$ | async as loggedInUserName; else noLoggedInUser">Hello, {{loggedInUserName}} </small>
      <ng-template #noLoggedInUser>
        <small >My Cart</small>
      </ng-template>
    </div>
    <div class="cart-empty-btn-block">
      <div class="cart-empty-btn-bg"></div>
      <button (click)="onEmptyCart()" class="cart-empty-btn">
        <div class="delete-icon-img"></div>
        Empty Cart
      </button>
    </div>
    <app-cart-btn></app-cart-btn>
  </div>

  <ng-scrollbar style="height: 500px">
    <div class="cart-body">
        <div *ngFor="let item of (cartItemsToShow$ | async)" class="cart-items-list">
          <app-item-card
            [item]="item"
            [itemUnitsValue]="(itemUnitsMap$ | async)![item._id]"
            [displayMode]="ItemCardMode.small"
            (onSaveItemOrderInfo)="saveItemUnitsValue($event)">
          </app-item-card>
        </div>
    </div>
  </ng-scrollbar>
  <div class="cart-bottom">
    <h1>Total: ${{(cartTotalPrice$ | async) | number: '.1-3'}}</h1>
    <button (click)="onCeckOut()" class="check-out-btn">Check Out</button>
  </div>
</div>
