<div class="cart">
  <div class="cart-head">
    <button (click)="onCloseCart(false)" class="clear-icon"></button>
    <div class="cart-head_title">
      <small>My Cart</small>
    </div>
    <app-cart-btn></app-cart-btn>
  </div>
  <div class="cart-body">
    <div *ngFor="let item of (cartItemsToShow$ | async)" class="cart-items-list">
      <app-item-card [item]="item" [itemUnitsValue]="(itemUnitsMap$ | async)![item._id]" (onSaveItemOrderInfo)="saveItemUnitsValue($event)"></app-item-card>
      <button (click)="onRemoveItem(item._id)" class="clear-icon"></button>
    </div>
  </div>
  <div class="cart-bottom">

  </div>
</div>
