<div class="items-list-container">
  <div class="hero-container">
    <div class="hero-txt main-layout">
      <small>{{((categoriesTitles$ | async)?.mainCategory) | uppercase }}</small>
      <small>{{((categoriesTitles$ | async)?.subCategory) | uppercase }}</small>
    </div>
  </div>
  <div *ngIf="(items$ | async) != null" class="items-list main-layout">
    <app-item-card
      *ngFor="let item of (items$ | async); trackBy: trackBy"
      [item]="item"
      [itemUnitsValue]="(itemUnitsMap$ | async)![item._id]"
    >
    </app-item-card>
  </div>
</div>
