.main-header_nav{
  display: flex;
  gap: 45px;
  font-size: 14px;
  align-items: center;

  &.nav-mobile-open{
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    padding-inline-start: 35px;
  }

  &,a:hover{
    color: #b27836;
  }

}
