<div class="item-units_container">
  <div class="item-units_quantity">
    <a (click)="onPlus()" class="quantity-btn plus"><div class="quantity-img plus"></div></a>
    <div class="quantity-input">{{quantityInput}}</div>
    <a (click)="onMinus()" class="quantity-btn minus"><div class="quantity-img minus"></div></a>
  </div>
  <div class="item-units_type">
    <div class="kilo-single">
      <a class="single-btn"></a>
      <a  class="kilo-btn"></a>
    </div>
    <div class="package">
      <a class="package-btn"></a>
    </div>
  </div>
</div>
