.item-units{

  &_container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: inherit;
  }

  &_quantity{
    position: relative;

    .quantity{

      &-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        background: #EBEBEB;
        position: absolute;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        top: 0;
        transition: all 0.3s ease-in-out;;

        &:hover{
          background: #fbdd83;
        }

        &.plus{
          left: 7px;
        }

        &.minus{
          right: 9px;
        }
      }
      &-img{
        height: 16px;
        width: 16px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;

        &.plus{
          background-image: url('../../../../assets/icons/plus.png');
        }

        &.minus{
          background-image: url('../../../../assets/icons/minus-sign.png');
        }
      }

      &-input{
        height: 30px;
        line-height: 30px;
        display: flex;
        justify-content: center;
        background: transparent;
        width: 100%;
        width: 121px;
        font-size: 20px;
        font-weight: 500;

        &:focus-visible{
          outline: none;
        }
      }
    }
  }
}
