// fonts

@font-face {
  font-family: '';
  src: url();
}

@font-face {
  font-family: Patric-Hand;
  src: url('../../assets/fonts/patrick-hand/PatrickHand-Regular.ttf');
}

@font-face {
  font-family: Chewy-Regular;
  src: url('../../assets/fonts/chewy/Chewy-Regular.ttf');
}

@font-face {
  font-family: BalsamiqSans-Bold;
  src: url('../../assets/fonts/balsamiq-sans/BalsamiqSans-Bold.ttf');
}

@font-face {
  font-family: BalsamiqSans-Regular;
  src: url('../../assets/fonts/balsamiq-sans/BalsamiqSans-Regular.ttf');
}
