
<div class="item-card">
  <div (click)="openDialog()" class="item-card_img-container">
    <div class="item-card_img" [ngStyle]="{'background-image' : 'url('+ item.images[0].thumbnailImgUrl +')'}"></div>
  </div>

  <div class="item-card_content">
    <div class="item-card_content_title">{{item.name}}</div>
  </div>

  <div class="item-card_content">
      <app-item-units [itemUnitsValue]="itemUnitsValue" [item]="item" (itemUnitsValueChanged)="saveItemUnitsValue($event)"></app-item-units>
  </div>
</div>
