.shipping-details-container{
  padding-block-start: 20px;
  color: #1E3E20;

  .form-container{
    display: grid;

    .submit-btn{
      height: 57px;
      line-height: 57px;
      width: 210px;
      font-size: 19px;
    }

  }
}
