.item-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border-radius: 10px;
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 9%);
  height: 500px;
  width: inherit;
  cursor: pointer;



  &_img-container{
    display: contents;
  }

  &_img{
    height: 160px;
    width: 160px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}

&_content{
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;


   &.with-border{
    border-block-start: 1px solid #F0F0F0;
    padding-block-end: 37px;
    height: 200px;
  }


}



}
