
<div [ngClass]="displayMode" class="item-card">
  <div (click)="openDialog()" class="item-card_img-container">
    <div class="item-card_img" [ngClass]="displayMode" [ngStyle]="{'background-image' : 'url('+ item.images[0].thumbnailImgUrl +')'}"></div>
  </div>

  <div class="item-card_content" >
    <div class="item-card_content_title" [ngClass]="displayMode">{{item.name}}</div>
  </div>

  <div class="item-card_content item-units" [ngClass]="displayMode" >
      <app-item-units [displayMode]="displayMode" [itemUnitsValue]="itemUnitsValue" [item]="item" (itemUnitsValueChanged)="saveItemUnitsValue($event)"></app-item-units>
  </div>

  <div *ngIf="displayMode === ItemCardMode.small" class="item-card_content remove-btn" [ngClass]="displayMode">
    <button [ngClass]="displayMode"  (click)="onRemoveItem(item._id)"><mat-icon>delete</mat-icon></button>


</div>

</div>
