@import "../../../../assets/styles/setup/mixins";
@import "../../../../assets/styles/setup/variables";

.items-list-container{
  margin-block-start: calc(100vh - 550px);

  @include for-bpoint-tablet-landscape{
    margin-block-start: calc(100vh - 430px);
  }
}
.hero-container{
  .hero-txt{
    font-family: LiuJianMaoCao-Regular;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 41px;
    height: inherit;
    letter-spacing: 38px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: 900;
    color: #6c5a7b;
    flex-direction: column;
    gap: 34px;
    line-height: 1.3;
    text-align: center;


    @include for-bpoint-tablet-landscape{
      letter-spacing: 30px;
    }

    @include for-bpoint-mobile {
      letter-spacing: 20px;
    }

  }

}

.items-list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  margin-block-start: 80px;
  margin-block-end: 80px;
}

