<div class="form-container">
  <form class="form" [formGroup]="loginForm">
    <mat-form-field>
      <mat-label>Email:</mat-label>
      <input required formControlName="email" matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>password:</mat-label>
      <input required formControlName="password" type="password" formControlName="password" matInput>
    </mat-form-field>
    <button type="submit" style="cursor: pointer;"  (click)="logIn()" mat-stroked-button>Login</button>
  </form>
</div>
